.mainDiv {
    margin: 1em;
    border-style: solid;
    border-width: 3px;
    box-sizing: border-box;
    background: #F4F4F4;
}

.title {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}