.wrapper{
    width: 100%;
}

.detailsDiv {
    width: 60%;
    float: left;
    box-sizing: border-box;
}

.orderDiv {
    width: 40%;
    float: left;
}

.userDiv {
    margin: 1em;
    border-style: solid;
    border-width: 3px;
    box-sizing: border-box;
}

.billingAdress {
    margin: 1em;
    border-style: solid;
    border-width: 3px;
    box-sizing: border-box;
}

.detailsTable {
    width: 100%;
    box-sizing: border-box;
}

.detailsRows {
    width: 100%;
    box-sizing: border-box;
}

.inputArea {
    background-color: #EDEDED;
    width: 100%;
    padding: 4px;
}

.inputField {
    background-color: #EDEDED;
    width: 100%;
}

.inputField:focus {
    outline: none;
}

.paymentButton {
    margin-left: 45%;
    padding: 1em;
}

.paymentButton:hover {
    background-color:#1AA604;
    color: #EDEDED;
    outline: solid #EDEDED 3px;
    transition: background-color 0.5s, color 0.5s;
}